:root {
  --area-background-color: #2F1E2D;
  --border-color: #694262;

  --border-size: 3px;
  --border-style: solid;
  --border: var(--border-style) var(--border-size) var(--border-color);

  --gutter: 1rem;

  --font-fancy: 'Cinzel Decorative', cursive;
}


@font-face {
  /* font-family: "starship";
  src: url("../fonts/starshipShadow/StarshipShadow.otf") */
}


body.forge {
  margin: 0;
  background-color: #010812;
  color: #ccc;
}

.fancy {
  /*  font-family: 'starship', monospace; */
  /* letter-spacing: 0.25rem; */

  font-family: var(--font-fancy);
  color: #fff;
  text-shadow: 3px 3px 3px #000;
}




h1, h2, h3 {
  font-family: var(--font-fancy);
  color: #fff;
  text-shadow: 3px 3px 3px #000;
}




.site-header-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 43.5vh;
  color: #fff;



  /* text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px; */
  font-weight: light;
}

.site-title {
  font-size: 4vh;
}

.site-pitch {
font-size: 2vh;
}


.forge-layout-footer {
  margin-top: var(--gutter);
}



.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: solid 1px #f0f; */
}

main {
  flex-grow: 1;
  padding-top: 1rem;
}

.navbar {
  background-color: var(--area-background-color);
  border-bottom: var(--border);
  border-top: var(--border);
  /* border-radius: 16px; */
  padding: 0 2rem;
  font-size: 2rem;
}

.content-block {
  position: relative;
  background-color: var(--area-background-color);
  padding: var(--gutter);
  border: var(--border);

  /* bootsborder-radius: 16px; */
}

.content-block img {
  max-width: 100%;
}


.col {
  /* outline: solid 1px #f0f; */
  padding: 0;
}


.navbar-header {

}

.navbar a {
  font-family: 'Cinzel Decorative', cursive;
  color: #fff;
}

.navbar a:hover {
  color: #D7BA7D;
  background-color: #858585;
  border-bottom: none;

}




a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #D7BA7D;
  border-bottom: solid 1px #D7BA7D;
}




.forge-wp-term {
  background-color: var(--border-color);

  border-radius: var(--gutter);
  border: solid 1px #000;
  color: #fff;
  padding: 0 var(--gutter);
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.pagination-container .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--font-fancy);
}

.pagination .page-numbers {
  margin: 0 5px;

  border: var(--border);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;
}

.pagination .current {
  background-color: #252526;
}

.pagination .next.page-numbers, .pagination .prev.page-numbers {
  border: none;
  width: auto;
  margin-left: 1rem;
}




.card--post {
  background-color: #252526;
  border: solid 1px var(--border-color);
  box-shadow: 2px 2px 2px #000;
  border-radius: 4px;
  position: relative;
}

.card--post .card-body {
  display: flex;
}



.card--post .card-left {
  position : relative;
}

.card--post  .card-content {

}


.card--post .post-date{
  position: absolute;
  top: var(--gutter);
  left: calc(var(--gutter) * 1);
  background-color: #fffa;
  border: var(--border);
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 80px;
}
.card--post .date {
  align-content: center;
  justify-content: center;
  font-size: 2.6rem;
  line-height: 2.3rem;
}

.card--post .month {
  align-content: center;
  justify-content: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}


.card--post .post-thumbnail {
  width: 300px;
  height: 300px;


  border: var(--border);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  /* border: solid 5px var(--border-color);
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000;
  border: solid 1px #fff;
  */

  margin-right: 1rem;
  box-shadow: 3px 3px #000;
}


.card--post .post-thumbnail.no-thumbnail {
  background-size: cover;
  /* background-position: -40px -40px; */
  box-shadow: none;
  position: relative;
}

.card--post .post-thumbnail.no-thumbnail .categories {
  font-family: var(--font-fancy);
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  background-color: #fff8;
  width: 100%;
  text-align: center;
  color: #000;
}








.sidebar-right {
  display: flex;
  flex-direction: column;
}

.sidebar-right__content {
  margin-left: var(--gutter);
  padding: var(--gutter);
  border: var(--border);
  text-align: right;
  background-color: var(--area-background-color);
  flex-grow: 1;
}

.sidebar-right__illustration {
  position: relative;
  height: 250px;

}

.sidebar-right__illustration img {
  z-index:2;
  max-width: 100%;
  margin-top: -6vh;
  position: absolute;
}